<!doctype html>
<html id="controller" ng-app="hyperstate" ng-controller="EntityController as controller"
  class="{{entity.class.join(' ') + ' status' + status}}">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<base href="/">
<title>{{appName}}</title>
<link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/webjars/angularjs/1.5.8/angular-csp.css" />
<link rel="stylesheet" href="/css/style.css">

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{appUrl}}">{{appName}}</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" id="links">
          <li ng-repeat="link in entity.links" class="{{$.inArray('self', link.rel) ? 'active' : ''}}"><a
            href="{{link.href}}" rel="{{link.rel.join(' ')}}" ng-click="controller.processNavClick($event)">{{link.title
              ? link.title : link.rel[0] }}</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li ng-hide="!loading" class="" id="loading"><a href="#">Loading...</a></li>
          <li ng-show="!loading" class="ng-hide" id="loaded"><a href="#">Loaded</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->

    </div>
  </nav>

  <div class="container">
    <div class="page-header">
      <h2 ng-if="entity.title">{{entity.title}}</h2>
    </div>
    <div id="messages">
      <div ng-show="status === 400" class="ng-hide alert alert-danger status404" role="alert">{{requestError || "Oops! I'm
        not sure what you are looking for. Whatever it is, I can't find it, sorry." }</div>
      <div ng-show="status === 404" class="ng-hide alert alert-danger status404" role="alert">Oops! I'm
        not sure what you are looking for. Whatever it is, I can't find it, sorry.</div>
      <div ng-show="status === 500" class="ng-hide alert alert-danger status500" role="alert">Sorry, I
        borke.</div>
    </div>
    <div id="properties">
      <div ng-repeat="(key, value) in entity.properties">
        <div class="{{key}}">
          <!-- TODO: find a nice way to replace key names with nice titles -->
          <label for="property:{{key}}">{{key}}</label>
          <div id="property:{{key}}">{{value}}</div>
        </div>
      </div>
    </div>

    <div id="entities">
      <div class="row" ng-repeat="entity in entity.entities">
        <a ng-if="entity.href" href="{{entity.href}}" rel="{{entity.rel.join(' ')}}"
          class="col-sm-12 entity {{field.class.join(' ')}}" ng-click="controller.processNavClick($event)">{{entity.title
          || 'entity'}}</a>
      </div>
    </div>

    <div id="actions">
      <div ng-repeat="action in entity.actions">
        <!-- TODO: if we find a nice way to replace key names with titles
        then we should probably do the same for action names, and not use
        action titles -->
        <h3>{{action.title || action.name}}</h3>
        <form ng-submit="controller.processForm(this)" class="{{action.class}}" name="{{action.name}}"
          method="{{action.method}}" action="">
          <div class="row">
            <div ng-repeat="field in action.fields" class="{{field.class.join(' ')}} form-group col-sm-4">
              <div ng-if="field.type != 'submit'">
                <!-- TODO: if we find a nice way to replace key names with titles
        then we should probably do the same for field names, and not use
        field titles -->
                <label for="{{action.name}}:{{field.name}}">{{field.title || field.name}}</label> <input
                  type="{{field.type || 'text'}}" ng-model="field.value" name="{{field.name}}"
                  id="{{action.name}}:{{field.name}}" class="form-control" />
                <p class="help-block"></p>
              </div>
            </div>
          </div>
          <div class="row">
            <div ng-repeat="field in action.fields" ng-if="field.type == 'submit'"
              class="{{field.class.join(' ')}} form-group col-sm-4">
              <button type="submit" class="btn btn-success">{{field.title || field.value || 'Submit'}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <pre ng-if="debug &amp;&amp; debugData"><code class="language-js" data-lang="js">{{debugData}}</code></pre>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/webjars/jquery/3.1.0/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
    <script src="/webjars/angularjs/1.5.8/angular.min.js" type="text/javascript"></script>
    <script src="/js/entity.js" type="text/javascript"></script>
  </div>
</body>
</html>